{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'image/gallery-favicon.png' %}" type="image/x-icon">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style/index.css' %}" />
</head>
<body>
    <div class="header">
        <div class="logo f1">
            <a href="{% url 'index' %}"><img src="{% static 'image/logo.png' %}"></a>
        </div>
        <div class="auth fr">
            <ul>
                <li><a href="{% url 'login' %}">登录</a></li>
                <li><a href="{% url 'register' %}">注册</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="banner">
            <img class="banner-img" src="{% static 'image/welcome.png' %}" width="732px" height="372" alt="图片描述">
        </div>

        <div class="img-content">
            <ul>
                <li>
                    <img class="img-li-fix" src="{% static 'image/wumingnvlang.jpg' %}" alt="无名女郎">
                    <div class="info">
                        <h3 class="img_title">无名女郎</h3>
                        <p>
                            图片描述可以分为多种，一种是单一说明，就比如直接的告诉看图者这篇文
                            章是要介绍什么样子的内容，一些配图可以分为含蓄类型的，这样的配图一般会
                            图片描述可以分为多种.
                        </p>
                        <div class="btn">
                            <a href="{% url 'index' %}" class="edit">编辑</a>
                            <a href="{% url 'index' %}" class="del">删除</a>
                        </div>
                    </div>
                </li>

                <li>
                    <img class="img-li-fix" src="{% static 'image/wumingnvlang.jpg' %}" alt="无名女郎">
                    <div class="info">
                        <h3 class="img_title">无名女郎</h3>
                        <p>
                            图片描述可以分为多种，一种是单一说明，就比如直接的告诉看图者这篇文
                            章是要介绍什么样子的内容，一些配图可以分为含蓄类型的，这样的配图一般会
                            图片描述可以分为多种.
                        </p>
                        <div class="btn">
                            <a href="{% url 'index' %}" class="edit">编辑</a>
                            <a href="{% url 'index' %}" class="del">删除</a>
                        </div>
                    </div>
                </li>

                <li>
                    <img class="img-li-fix" src="{% static 'image/wumingnvlang.jpg' %}" alt="无名女郎">
                    <div class="info">
                        <h3 class="img_title">无名女郎</h3>
                        <p>
                            图片描述可以分为多种，一种是单一说明，就比如直接的告诉看图者这篇文
                            章是要介绍什么样子的内容，一些配图可以分为含蓄类型的，这样的配图一般会
                            图片描述可以分为多种.
                        </p>
                        <div class="btn">
                            <a href="{% url 'index' %}" class="edit">编辑</a>
                            <a href="{% url 'index' %}" class="del">删除</a>
                        </div>
                    </div>
                </li>

                <li>
                    <img class="img-li-fix" src="{% static 'image/wumingnvlang.jpg' %}" alt="无名女郎">
                    <div class="info">
                        <h3 class="img_title">无名女郎</h3>
                        <p>
                            图片描述可以分为多种，一种是单一说明，就比如直接的告诉看图者这篇文
                            章是要介绍什么样子的内容，一些配图可以分为含蓄类型的，这样的配图一般会
                            图片描述可以分为多种.
                        </p>
                        <div class="btn">
                            <a href="{% url 'index' %}" class="edit">编辑</a>
                            <a href="{% url 'index' %}" class="del">删除</a>
                        </div>
                    </div>
                </li>

                <li>
                    <img class="img-li-fix" src="{% static 'image/wumingnvlang.jpg' %}" alt="无名女郎">
                    <div class="info">
                        <h3 class="img_title">无名女郎</h3>
                        <p>
                            图片描述可以分为多种，一种是单一说明，就比如直接的告诉看图者这篇文
                            章是要介绍什么样子的内容，一些配图可以分为含蓄类型的，这样的配图一般会
                            图片描述可以分为多种.
                        </p>
                        <div class="btn">
                            <a href="{% url 'index' %}" class="edit">编辑</a>
                            <a href="{% url 'index' %}" class="del">删除</a>
                        </div>
                    </div>
                </li>

                <li>
                    <img class="img-li-fix" src="{% static 'image/wumingnvlang.jpg' %}" alt="无名女郎">
                    <div class="info">
                        <h3 class="img_title">无名女郎</h3>
                        <p>
                            图片描述可以分为多种，一种是单一说明，就比如直接的告诉看图者这篇文
                            章是要介绍什么样子的内容，一些配图可以分为含蓄类型的，这样的配图一般会
                            图片描述可以分为多种.
                        </p>
                        <div class="btn">
                            <a href="{% url 'index' %}" class="edit">编辑</a>
                            <a href="{% url 'index' %}" class="del">删除</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="page-nav">
            <ul>
                <li><a href="{% url 'index' %}">首页</a></li>
                <li><a href="{% url 'index' %}">上一页</a></li>
                <li><span class="first-page">1</span></li>
                <li><a href="{% url 'index' %}">2</a></li>
                <li><a href="{% url 'index' %}">3</a></li>
                <li><a href="{% url 'index' %}">4</a></li>
                <li><a href="{% url 'index' %}">5</a></li>
                <li>...</li>
                <li><a href="{% url 'index' %}">98</a></li>
                <li><a href="{% url 'index' %}">99</a></li>
                <li><a href="{% url 'index' %}">下一页</a></li>
                <li><a href="{% url 'index' %}">尾页</a></li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <p><span>M-GALLARY</span>©2017 POWERED BY IMOOC.INC</p>
    </div>
</body>
</html>